<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyPad.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>1120, 600</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>400, 220</value>
            </setting>
            <setting name="InterfaceFont" serializeAs="String">
                <value>Segoe UI, 14pt</value>
            </setting>
            <setting name="InterfaceFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InterfaceBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Segoe UI, 16pt</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoredThemeName" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextEncoding" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FindMatchCaseChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindWholeWordChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindRegExChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceMatchCaseChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceWholeWordChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceRegExChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceSearchString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceReplaceString" serializeAs="String">
                <value />
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Fade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindScopeGlobal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplaceScopeGlobal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultZoom" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolBarLocation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ToolBarSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="RestoreLocation" serializeAs="String">
                <value>510, 70</value>
            </setting>
            <setting name="RestoreSize" serializeAs="String">
                <value>900, 900</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RecentFileHistoryLimit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FontSizeCloseOnOkay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBarBackgroundColor" serializeAs="String">
                <value>150, 0, 150</value>
            </setting>
            <setting name="PanelBackgroundColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="AllIfNothing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerboseFind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseReplace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTools" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScrollers" serializeAs="String">
                <value>False</value>
            </setting>
        </EasyPad.Properties.Settings>
    </userSettings>
</configuration>